.categories {
    .card-body {
        width: 70%;
    }
    .table {
        .category-name {
            min-width: 200px;
        }
    }
    .button-add-new {
        float: right;
    }
}

.category-detail {
    .message {
        margin-top: 10px;
    }
}

.products {
    .button-add-new {
        float: right;
    }
}

#accordionSidebar {
    .nav-item {
        .nav-link:hover {
            cursor: pointer;
        }
    }
}